* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

:root {
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #ffffff !important;
    color: #000000 !important;
  }

  * {
    background-color: inherit;
    color: inherit;
  }
}
